flows_raspberrypi.json
[{"id":"e178667.4114398","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46b8a314.2a44ac","type":"tab","label":"Flow 1 _ send notifications to FCM","disabled":false,"info":""},{"id":"6818b4b0.037acc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b4d39a51.20cb48","type":"firebase config","z":"","firebaseurl":"karconnect-iot","loginType":"none"},{"id":"10d956a2.62ddf9","type":"google-api-config","z":""},{"id":"b5bfb74b.d83388","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"270d4157.eb95a6","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"3f87557e.21fe7a","type":"inject","z":"46b8a314.2a44ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":40,"wires":[["b04bbabb.d2f148"]]},{"id":"36b6cf7f.79011","type":"http request","z":"46b8a314.2a44ac","name":"http POST to Google FCM","method":"POST","ret":"txt","url":"https://onesignal.com/api/v1/notifications","tls":"","x":180,"y":220,"wires":[["511d634f.91e20c"]]},{"id":"50c97324.a1cf1c","type":"function","z":"46b8a314.2a44ac","name":"set payload and headers","func":"msg.payload = {\n  \"app_id\": \"9e2cccc2-11a4-43a4-afc3-2d0a9ee4e077\",\n  \"included_segments\": [\"All\"],\n  \"data\": {\"foo\": \"bar\"},\n  \"contents\": {\"en\": \"English Message\"}\n}\nmsg.headers = {\"Authorization\": \"Basic OTE5MTEwMmUtNmZhYS00ZjExLTkyZTAtYTE3NWY1N2FmNWEx\", \"Content-Type\": \"application/json\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":170,"y":120,"wires":[["36b6cf7f.79011"]]},{"id":"511d634f.91e20c","type":"debug","z":"46b8a314.2a44ac","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":290,"y":340,"wires":[]},{"id":"b04bbabb.d2f148","type":"delay","z":"46b8a314.2a44ac","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":397,"y":30,"wires":[["50c97324.a1cf1c"]]},{"id":"9307d56e.ce0148","type":"function","z":"6818b4b0.037acc","name":"threshold func for ultra","func":"\nif(msg.payload > 50) {\n    msg.payload = {\n  \"app_id\": \"9e2cccc2-11a4-43a4-afc3-2d0a9ee4e077\",\n  \"included_segments\": [\"All\"],\n  \"contents\": {\"en\": \"Tow Alert\"},\n  \"headings\":{\"en\":\"Alert\"}\n}\n    msg.headers = {\"Authorization\": \"Basic OTE5MTEwMmUtNmZhYS00ZjExLTkyZTAtYTE3NWY1N2FmNWEx\", \"Content-Type\": \"application/json\"}\n    msg.sendAlert = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":341.01739501953125,"y":71,"wires":[["573ca399.b131fc","8257c53f.3d3928"]]},{"id":"8257c53f.3d3928","type":"http request","z":"6818b4b0.037acc","name":"http POST to Google FCM","method":"POST","ret":"txt","url":"https://onesignal.com/api/v1/notifications","tls":"","x":694.6075439453125,"y":173.98260498046875,"wires":[[]]},{"id":"4bccf94f.56a038","type":"rpi-srf","z":"6818b4b0.037acc","name":"","topic":"SRF","pulse":"0.5","pins":"11,12","x":199.0833282470703,"y":105.50347137451172,"wires":[["bbe5c9d6.3815f8","9307d56e.ce0148"]]},{"id":"bbe5c9d6.3815f8","type":"firebase modify","z":"6818b4b0.037acc","name":"sensor/ultra","firebaseconfig":"b4d39a51.20cb48","childpath":"users/0e76c3ae780e84a5b3b9380c937610b013e292e1e3903a124d58348674daefcf929839388991c5685e4f0b6fb71fa8ad5708c8e46ea1afca59f2d223baf46a5b//sensors/ultrasonic","method":"set","value":"msg.payload","priority":"msg.priority","x":335.06947326660156,"y":253.8576307296753,"wires":[[]]},{"id":"fc2a7937.1743b8","type":"google geocoding","z":"6818b4b0.037acc","name":"","geocodeBy":"coordinates","address":"","lat":"","lon":"","googleAPI":"10d956a2.62ddf9","bounds":"","language":"English","region":"India","components":"","x":479,"y":445,"wires":[["81c01ec0.18b96","ff819ff9.f6b47"]]},{"id":"5363dfb4.e6158","type":"firebase.on","z":"6818b4b0.037acc","name":"car/location","firebaseconfig":"b4d39a51.20cb48","childpath":"users/0e76c3ae780e84a5b3b9380c937610b013e292e1e3903a124d58348674daefcf929839388991c5685e4f0b6fb71fa8ad5708c8e46ea1afca59f2d223baf46a5b/car_location","atStart":true,"eventType":"value","queries":[],"x":142,"y":337,"wires":[["d0429943.6b59d8"]]},{"id":"d0429943.6b59d8","type":"function","z":"6818b4b0.037acc","name":"lat_lon","func":"var coords ={};\nlatitude= parseFloat(msg.payload.lat).toFixed(7);\nlatitude1 = parseFloat(latitude);\nvar length = parseFloat(msg.payload.lgn).toFixed(7);\nvar length1= parseFloat(length);\ncoords.location = {lat:latitude1, lon:length1};\nmsg = coords;\nreturn msg;\n","outputs":1,"noerr":0,"x":295,"y":365,"wires":[["fc2a7937.1743b8"]]},{"id":"81c01ec0.18b96","type":"debug","z":"6818b4b0.037acc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":663,"y":289,"wires":[]},{"id":"bf65771f.45c228","type":"firebase modify","z":"6818b4b0.037acc","name":"set alerts","firebaseconfig":"b4d39a51.20cb48","childpath":"users/0e76c3ae780e84a5b3b9380c937610b013e292e1e3903a124d58348674daefcf929839388991c5685e4f0b6fb71fa8ad5708c8e46ea1afca59f2d223baf46a5b/alerts","method":"push","value":"msg.payload","priority":"msg.priority","x":630,"y":86,"wires":[[]]},{"id":"573ca399.b131fc","type":"function","z":"6818b4b0.037acc","name":"set/alerts","func":"if(msg.isAddress) {\n    location = context.global.location_car;\n    msg.payload = {\n    \"alert\": \"Tow Alert\",\n    \"timestamp\": Date.now(),\n    \"location\" : location\n}\nreturn msg\n}","outputs":1,"noerr":0,"x":435,"y":156,"wires":[["bf65771f.45c228"]]},{"id":"ff819ff9.f6b47","type":"function","z":"6818b4b0.037acc","name":"","func":"context.global.location_car = msg.location.address;\nif(msg.location.address !== null) {\n    msg.isAddress = 1\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":515,"y":244,"wires":[["573ca399.b131fc"]]},{"id":"76d27fbe.b4082","type":"arduino in","z":"6818b4b0.037acc","name":"","pin":"0","state":"ANALOG","arduino":"b5bfb74b.d83388","x":141,"y":428,"wires":[["39399134.7103ce","640d7570.dc56d4"]]},{"id":"39399134.7103ce","type":"firebase modify","z":"6818b4b0.037acc","name":"sensor/ultra","firebaseconfig":"b4d39a51.20cb48","childpath":"users/0e76c3ae780e84a5b3b9380c937610b013e292e1e3903a124d58348674daefcf929839388991c5685e4f0b6fb71fa8ad5708c8e46ea1afca59f2d223baf46a5b/sensors/mq3","method":"set","value":"msg.payload","priority":"msg.priority","x":299,"y":486,"wires":[[]]},{"id":"640d7570.dc56d4","type":"function","z":"6818b4b0.037acc","name":"","func":"\nif(msg.payload > 1200) {\n    msg.payload = {\n  \"app_id\": \"9e2cccc2-11a4-43a4-afc3-2d0a9ee4e077\",\n  \"included_segments\": [\"All\"],\n  \"contents\": {\"en\": \"Tow Alert\"},\n  \"headings\":{\"en\":\"Alert\"}\n}\n    msg.headers = {\"Authorization\": \"Basic OTE5MTEwMmUtNmZhYS00ZjExLTkyZTAtYTE3NWY1N2FmNWEx\", \"Content-Type\": \"application/json\"}\n    msg.sendAlert = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":444,"y":384,"wires":[["8257c53f.3d3928"]]}]