newFLow.json
[{"id":"7b139218.37f2fc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"86ea3add.b14cf8","type":"firebase config","z":"","firebaseurl":"karconnect-iot","loginType":"none"},{"id":"63208bfc.67553c","type":"firebase config","z":"","firebaseurl":"karconnect-iot","loginType":"none"},{"id":"7dbd5e95.a0427","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"c0271819.26099","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d305322.c8bc5c","type":"create dataset","z":"7b139218.37f2fc","name":"","path":"test/iris.data","saveFolder":"test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":335,"y":65,"wires":[["7e326ef7.25b8b8"]]},{"id":"b60866f6.8d9318","type":"load dataset","z":"7b139218.37f2fc","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":285,"y":185,"wires":[["35223020.b4cad"],["56364f52.7d57e8"]]},{"id":"a99247da.a2bcb8","type":"inject","z":"7b139218.37f2fc","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":65,"wires":[["7d305322.c8bc5c"]]},{"id":"7077da6b.5eb28c","type":"inject","z":"7b139218.37f2fc","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":185,"wires":[["b60866f6.8d9318"]]},{"id":"b59f40d1.73818","type":"inject","z":"7b139218.37f2fc","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":425,"wires":[["6d1e7072.0a3ca8","2435f65.142f48a"]]},{"id":"7e326ef7.25b8b8","type":"debug","z":"7b139218.37f2fc","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":565,"y":65,"wires":[]},{"id":"56364f52.7d57e8","type":"debug","z":"7b139218.37f2fc","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":765,"y":225,"wires":[]},{"id":"52fbe67e.faaa2","type":"debug","z":"7b139218.37f2fc","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":745,"y":145,"wires":[]},{"id":"477c7c69.877d6c","type":"predictor","z":"7b139218.37f2fc","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":545,"y":405,"wires":[["8fee8845.3648d"],["5b84994c.f3bb68"]]},{"id":"35223020.b4cad","type":"decision tree classifier","z":"7b139218.37f2fc","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":535,"y":185,"wires":[["52fbe67e.faaa2"],["56364f52.7d57e8"]]},{"id":"8fee8845.3648d","type":"assessment","z":"7b139218.37f2fc","name":"","score":"accuracy_score","x":585,"y":345,"wires":[["2a229bd8.e3e7a4"],["5b84994c.f3bb68"]]},{"id":"6d1e7072.0a3ca8","type":"load dataset","z":"7b139218.37f2fc","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":285,"y":345,"wires":[["8fee8845.3648d"],["5b84994c.f3bb68"]]},{"id":"2435f65.142f48a","type":"load dataset","z":"7b139218.37f2fc","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":285,"y":465,"wires":[["477c7c69.877d6c"],["5b84994c.f3bb68"]]},{"id":"5b84994c.f3bb68","type":"debug","z":"7b139218.37f2fc","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":785,"y":465,"wires":[]},{"id":"2a229bd8.e3e7a4","type":"debug","z":"7b139218.37f2fc","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":785,"y":345,"wires":[]},{"id":"75663292.d6a7b4","type":"predictor","z":"7b139218.37f2fc","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":445,"y":565,"wires":[["25254954.2c7616"],["6a2888f6.261558"]]},{"id":"25254954.2c7616","type":"mqtt out","z":"7b139218.37f2fc","name":"","topic":"predictions","qos":"","retain":"","broker":"c0271819.26099","x":725,"y":525,"wires":[]},{"id":"6a2888f6.261558","type":"debug","z":"7b139218.37f2fc","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":705,"y":605,"wires":[]},{"id":"b25f24ce.f36448","type":"mqtt in","z":"7b139218.37f2fc","name":"","topic":"classification","qos":"2","broker":"c0271819.26099","x":135,"y":565,"wires":[["75663292.d6a7b4"]]}]